.next {
    width: 45%;
    display: flex;
    justify-content: end;
  }
  
  .back {
    width: 45%;
    display: flex;
    ;
  }
  
  hr {
    margin: 0;
    margin-bottom: 25px;
    width: 45%;
    border: none;
    height: 1px;
    background: rgba(128, 128, 128, 0.2);
  }
  
  .buttonTwo {
    color: #fff;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
  }